/** Note star at the beginning, is very important **/
*{     
    margin: 0;
    padding: 0;
}

title {
    font-style: italic;
    background-color: beige;
    font-size: 60px;
    float: left;
    
}

body {
  background-color: none;
  
}

nav {
    width: 100%;
    height: 60px;
    background-color: aquamarine;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none; /** takes off bullets **/
    position: relative;
}

nav ul li a{
    padding: 10px 14px;
    text-decoration: none; /** removes underlining **/
}

nav ul li ul{
    display: none; /** This hides the dropdown till the menu is clicked or hovered over **/
    position:relative;
    background-color: aquamarine;
    padding: 10px; /** this gives the text in the dropdown some padding **/
}


nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    width: 200px;
}


nav ul li ul li a {
    padding: 0px 20px;
    text-decoration: none; /** removes underlining **/
}

 nav ul li ul li a:hover{ /** hover shows a highlighting on the dropdown when a mouse is pinted at it **/
  background-color: violet;
} 

/** Formatting sub sub menu **/

nav ul li ul li ul{
    display: none; /** This hides the dropdown till the menu is clicked or hovered over **/
    background-color:white;
    padding: 10px; /** this gives the text in the dropdown some padding **/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav ul li ul li a{
    padding: 10px 14px;
    text-decoration: none; /** removes underlining **/
}

nav ul li ul li{
    float: none;
    list-style: none; /** takes off bullets **/
}


nav ul li ul li ul li a{
    padding: 0px 20px;
    text-decoration: none; /** removes underlining **/
}


nav ul li ul li ul:hover{
    display: block;
    position:absolute;
}
.strong-blue{
    color: blue;
    margin-left: 12px;
}
.kosmaintext{
    position:static ;
}
.Excavator1{
    width: 300px;
    border-radius: 10%;
    border-width: 3px;
    border-color: yellow;
}